TOKEN_KAT=INSERT_DEFAULT_DISCORD_BOT_TOKEN_HERE

DISCORD_CLIENT_SECRET=INSERT_CLIENT_SECRET_JERE
DISCORD_CLIENT_ID=INSERT_CLIENT_ID_HERE

DISCORD_REDIRECT_URI=INSERT_REDIRECT_URI_HERE

PREFIXES=["!", "."]

BOT_OWNER_ID=INSERT_BOT_OWNER_ID_HERE
BOT_DEV_ID=INSERT_BOT_DEV_ID_HERE

LOG_KEY=INSERT_LOG_KEY_HERE
FLASK_SECRET_KEY=INSERT_FLASK_SECRET_KEY_HERE

STATUS_COUNT=2
STATUS_1=You are being watched, Say Cheese
STATUS_2=Listening to Dawg

FLASK_CERT=INSER_FLASK_CERT_LOCATION
FLASK_KEY=INSER_FLASK_KEY_LOCATION

DB_HOST=localhost
DB_PORT=INSERT_DATABASE_PORT_HERE
DB_NAME=INSERT_DATABASE_NAME_HERE
DB_USER=INSERT_DATABASE_USERNAME_HERE
DB_PASSWORD=INSERT_DATABASE_PASSWORD_HERE

XP_LIMITS = [100, 115, 152, 200 ...... upto as many levels you need] # add level limits